body {
background: rgb(9, 9, 9)


}
  p {

color: white;
text-decoration:underline
underline white
  }
  

  b {

    color: white;
  }


  a {

color: skyblue;

  font-size:13px;

  }


  div {
    
      font-size: 17px;
    color:white
  }



  div1 {
  font-size: 15px;
  color:white


  }