body {
background: rgb(9, 9, 9)


}
  p {

color: white;

  }
  

  b {

    color: white;
  }


  a {

color: skyblue;

  font-size:13px;

  }


  div {
    
      font-size: 17px;
    color:white
  }